html {
    background-image: url("./BG.gif");
    box-shadow: 0 3000px rgba(255, 255, 255, 0.85) inset;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 50px 0 50px 0;
}

#threeGames {
    display: flex;
    justify-content: center;
    align-items: end;
}

img {
    margin: 10px;
    max-width: 500px;
}

.smallImg {
    max-height: 200px;
}

#mainImgContainer {
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1, h2, h3 {
    font-family: 'Pangolin';
}

h4, h5 {
    margin: 10px;
}

p, h2 {
    max-width: 800px;
}

p {
    text-align: left;
    margin: 0 auto 2em auto;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-wrap: balance;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

li {
    text-align: left;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}